doctype html
head
  meta(charset="utf-8")
  link(rel="stylesheet", href="css/style.css", media="screen", charset="utf-8")
  script(type="text/javascript", src="http://code.jquery.com/jquery-1.11.3.min.js")
  script(type="text/javascript", src="js/script.js")
    
  
body
.cont.animating
  div#t1
    div.ll
    div.lb
    div.lr
    
  div#t2
    div.lr
    
  div#t3
    div.ll
    
  div#t4
    div.lb
    
  div#t5
    div.ll
    
  div#t6
    div.lb
    
  div#t7
    div.lr
    
  div#t8
    div.lr
    
  div#t9
    div.ll
    
  div#t10
    div.lb
    
